# Autoscoper
build*/*
external/*

# macOS
/.project
.DS_Store

_make_installer/*

# Visual Studio
.vs/
CMakeSettings.json

# Nvim
compile_commands.json
.cache/

# PyCharm
out/

# Python
__pycache__/
*.egg-info/
build/
dist/

# Qt Creator
CMakeLists.txt.user

# MATLAB
*.asv

# Documentation
Documentation/_build
