---
BasedOnStyle: InheritParentConfig

IndentExternBlock: NoIndent # Requires "BreakBeforeBraces" set to "Custom"

BreakBeforeBraces: Custom
BraceWrapping:
  # Mozilla-style defaults
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
  # Mozilla-style overides
  AfterExternBlock: false
